/* html, body {width: 100%; height: 100%;}
.content{
    height: 100vh;
} */

.App{
    background: #f7e5b1;
    width: 100%;
    
}

.body{
    margin: 0 auto;
    max-width: 1140px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    font-family: "Cafe24SsurroundAir";
    font-size: 2.5rem;
}

.body h1{
    font-family: "Cafe24Ssurround";
    // font-size: 4.5rem;
}

.body h2{
    // font-size: 2.5rem;
}

.page{
    /* height: 837px; */
    /* margin: 0 190px; */
    /* padding: 250px; */
    width: 100%;
    height: 100vh;
}

.right_align{
    text-align: right;
}

.left_align{
    text-align: left;
}

.anipuppy_logo{
    font-family: "Cafe24Ssurround";
    font-size: 3.0rem;
}

.app_install{
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: "MinSans-Regular";
    padding: 8px;
    border-radius: 20px;
    // border-color: #9C27B0 #ff00bf #ffc403  #008cff;
    // border-style: solid;
    align-items: center;
    font-size: 1.6rem;
    justify-content: center;
}

.anipuppy_logo_img{
    padding-top: 30px;
     width: 100px;
}
.app_install > img{
    width: 2.3rem;
    margin-right: 5px;
}

.social_link{
    // width:17rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li{
        display: flex;
        margin-right: 0.9rem;
    }
}

.social_icon{
    width: 2.0rem;
}

/* ==========header============ */
.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.0rem 2rem 0 2rem;
    margin-bottom: 20px;
}

.header .app_install{
    margin-right: 5px;
}
// .header>*{
//     display: flex;
//     align-items: center;
// }
.navbar_right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    // width: 300px;
}

.navbar_right .social_link{
    justify-content: space-around;
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    background-color: rgb(54, 104, 148);
    // margin-bottom: 50px;
}

.contents{
    width: 1366px;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        font-family: "Cafe24Ssurround";
        font-size: 4.5rem;
        margin-bottom: 30px;
    }

}

.description{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .screenshot{
        width: 400px;
        height: 300px;
        background-color: #724c30;
        border-radius: 30px;
        margin: 5px;
    }
    .subtitle{
        font-family: 'MinSans-Regular';
        color: black;
        // font-weight: 500;
        font-size: 2.5rem;
        // transform : rotate(0.04deg);
    }

    &.right_pic{
        flex-direction: row-reverse
    }
}



.mobile{
    &{
        .header{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3.0rem 2rem 0 2rem;
            margin-bottom: 20px;
        }
    }
}

/* ============footer============ */
.iscilab_logo_img{
    width: 150px;
}

.footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align:left;
    padding:40px 100px;
    justify-content: space-around;

    .app_install{
        margin-bottom: 10px;
    }
    .social_link{
        width: 100px;
    }
}

.footer_title >*{
    margin-bottom: 10px;
}

.footer_title {
    .slogan{
        font-size: 3.5rem;
        font-family: 'Cafe24Ssurround';
    }
    .anipuppy_logo{
        font-size: 4.0rem;
    }
}

.company_info{
    font-size: 1.3rem;
    font-family: "MinSans-light";
}

.mobile {
    &.footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align:left;
        // padding:200px 200px;
        justify-content: space-around;
    }
}
/* ============section one(대문)============ */

.main_section{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Cafe24Ssurround";
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slogan{
    
}
.slogan_h1{
    color: #AC7F46;
    font-size: 7.0rem;
    margin-bottom: 5rem;
}

.slogan_h2{
    font-size: 5rem;
}
.slogan_h3{
    font-size: 3.5rem;
    font-family: "Cafe24SsurroundAir";
}

.buttons{
    display: flex;
    &>.app_install{
        margin-right: 5px;
        font-family: "Cafe24Ssurround";
    }
}

.main_section .app_install {
    width: 150px;
    font-family: 'MinSans-Regular';
    align-content: center;
}

.arrow {
    position: absolute;
    animation-name: arrow_ani;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes arrow_ani {
    from{
        bottom: 0;
    }

    to{
        bottom: 50px;
    }
}

/* ============ section 1 ============ */
.section_1 {
    background-color: rgb(255, 255, 255);
}
.images{
    display: flex;
    justify-content: space-evenly;

    > *{
        margin: 10px
    }
    // overflow-y: auto;
    // overflow-x: scroll;
}

.line{
    display: inline-block; 
    position: relative;
}
.line::after{
    content: "";
    display: block;
    height: 11px;
    margin-top: -22px;
    background-color: #d3adff;
}


.two_img {
    position: relative;
    width: 50rem;
    /* right: 300px; */
    /* z-index: 1; */
}

/* ============ section 2 ============ */
.section_2{
    background-color: #FFF0C1;
}

/* ============ section 3 ============ */
.section_3{
    background-color: #ffffff;
}

/* ============ section 4 ============ */
.section_4{
    background-color: #FFF0C1;
}
.section_five{
    .box{
        display: flex;
        justify-content: baseline;
        align-items: center;

        .screenshot{
            justify-content: start;
            text-align: center;
            color: white;
            
        }
    }
    .box *{
        margin-right: 10px;

    }
    
}


/* ============ section Pic ============ */

.section_pic{
    // width: 1000px;
    // margin-top: 30px;
    font-family: "Cafe24SsurroundAir";
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;

    img {
        display: flex;
        position: relative;
        width: 60rem; 
        height: fit-content;
    }
    .pic2{
        align-self: flex-end;
        margin-top: 10px;
    }
    
    .upside{
        display: flex;
        flex-direction: row;
        align-self: flex-start;

        h1{
            font-family: "Cafe24SsurroundAir";
            font-size: 3rem;
            // position: absolute;
            margin-left: 10px;
        }
    }
    .downside{
        display: flex;
        align-self: flex-end;
    }
}



// mobile
@media screen and (max-width: 767px){
    .section{
        padding: 0 10px ;
    }
    .footer{
        padding:40px 40px;
    }

    .section {
        .images{
            flex-direction: column;
            align-items: center;
            .two_img {
                // width: 50rem;
            }
        }
    }
    .section_two{
        // 모바일 버전일 때 스크롤 -> 가로스크롤
        .img_container{
            border: 2px solid coral;
            width: 100%;
            height: 500px;
            // box-sizing: border-box;
            transform: rotate(-90deg);
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .img_container::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
        }
        .two_img{
            transform: rotate(90deg);
        }
        .images{
            
            
        }
    }

    .section_pic{
        .upside{
            display: flex;
            flex-direction: column;

            h1{
                font-family: "Cafe24SsurroundAir";
                font-size: 2rem;
                margin-left: 0;
                margin-top: 0.5rem;
                position: relative;
            }
        }
        img {
            margin-top: 15px;
            width: 40rem; 
        

        }
    }

}